<ion-header>
  <ion-toolbar class="white">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/login']">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
      </ion-buttons>
    <ion-title>passwordReset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm"(ngSubmit)="resetPassword(form)">
    <div>
      <ion-item>
      <ion-input name="email" type="email" placeholder ="Please enter your email" ngModel required></ion-input>
      </ion-item>
    </div>
    <div style="text-align: center;margin: auto;">
  <ion-button type="submit" [disabled]="form.invalid">Reset Now</ion-button>
    </div>
  </form>
</ion-content>
