<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Home</ion-title>
    </ion-toolbar>
 </ion-header>
 
 <ion-content [fullscreen]="true">
   <!--<ion-searchbar showcancelbutton="" animated placeholder="Search..." (ionInput)="filterList($event)"  ></ion-searchbar> -->
  <ion-list *ngFor="let westerns of Western"  [routerLink]="['/details', westerns.id]">
  <ion-item >
  <ion-label >
  <h1 style="font-weight: bold;" >{{ westerns.name}}</h1>
  <img width="570" height="250"  size="large" expand="block" src="{{ westerns.img }}"/>
  <h2 style=" font-size: 22px;">S$ {{ westerns.price }}</h2>
  </ion-label>
  <ion-icon slot="end" name="caret-forward-outline"></ion-icon>
  </ion-item>
  </ion-list>
 </ion-content>
  

