<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-button [routerLink]="['/home']">
  <ion-icon name="arrow-back-circle-outline"></ion-icon>
  </ion-button>
  </ion-buttons>
  <ion-title>{{Western.name}}</ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content>
   
  <form [formGroup]="myForm">
  <ion-item>
    <img width="570" height="300" src="{{ Western.img }}"/>
  </ion-item>
  <ion-item>
    <h2 style=" font-size: 22px;">S$ {{ Western.price }}</h2>
  </ion-item>
  <ion-item>
  <p style=" font-size: 20px;">{{ Western.desc}}</p>
  </ion-item>
  <ion-item>
    <h3>Quantity</h3>
    <button ion-button (click)="decrement()" >-</button>
    <ion-input type="number" text-center>{{quantity}}</ion-input>                   
    <button ion-button (click)="increment()">+</button>
    <ion-button (click)="addToCart()">Add to Cart</ion-button>
 </ion-item>
  <ion-row>
  <ion-col>
  </ion-col>
  </ion-row>
  </form>
 </ion-content>